version: '3.8'

services:
  tf2-server:
    image: cm2network/tf2:latest
    container_name: tf2-server
    restart: unless-stopped
    ports:
      - "27017:27017/tcp"
      - "27017:27017/udp"
    environment:
      - SRCDS_PORT=27017
      - SRCDS_TOKEN=
      - SRCDS_HOSTNAME=Team Fortress 2 Server
      - SRCDS_MAXPLAYERS=24
      - SRCDS_MAP=koth_viaduct
    volumes:
      - tf2_data:/home/steam/tf-dedicated

volumes:
  tf2_data:
