version: '3.8'

services:
  docuseal:
    image: docuseal/docuseal:latest
    container_name: docuseal
    restart: unless-stopped
    ports:
      - "8085:3000"
    volumes:
      - /opt/docuseal/data:/data
