version: '3.8'

services:
  garrysmod-server:
    image: cm2network/gmod-server:latest
    container_name: garrysmod-server
    restart: unless-stopped
    ports:
      - "27018:27018/tcp"
      - "27018:27018/udp"
      - "27008:27008/udp"
    environment:
      - SRCDS_PORT=27018
      - SRCDS_TV_PORT=27008
      - SRCDS_MAP=gm_construct
      - SRCDS_MAXPLAYERS=24
    volumes:
      - gmod_data:/home/steam/gmod-dedicated

volumes:
  gmod_data:
