version: '3.8'

services:
  garrysmod-server:
    image: ceifa/garrysmod:latest
    container_name: garrysmod-server
    restart: unless-stopped
    ports:
      - "27018:27018/tcp"
      - "27018:27018/udp"
      - "27008:27008/udp"
    environment:
      - GMOD_PORT=27018
      - GMOD_MAP=gm_construct
      - GMOD_MAXPLAYERS=24
    volumes:
      - gmod_data:/home/steam/gmod-dedicated

volumes:
  gmod_data:
