version: '3.8'

services:
  libreoffice:
    image: lscr.io/linuxserver/libreoffice:latest
    container_name: libreoffice
    restart: unless-stopped
    ports:
      - "5800:3000"
    volumes:
      - /opt/libreoffice/config:/config
